body{
  margin: 0;
}

.header{
  background-color: #dcdfe6;
  padding: 10px;
}

.sidebar{
  padding: 20px;
  background-color: #a0cfff;
  height: 100vh;
  a{
    color: #ffffff
  }
}

.container{
  display: flex;
}
.page-wrapper{
  padding: 20px;
}

ul, p{
  list-style: none;
  margin: 0;
  padding: 0;
}
.error{
  color: #DF0101;
  font-weight: bold;
}

/*dialog*/
.el-dialog__header{
  background-color: #a0cfff;
  span, button{
    color: #ffffff;
  }
  .el-dialog__close{
    color: #ffffff;
  }
}
.el-table__header{
  th.el-table__cell{
    background-color: #a0cfff;
    color: #ffffff
  }
}
