<!-- Please remove this file from your project -->
<template>
  <div class="sidebar">
    <nav>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <nuxt-link :to="'/users'">Account Search</nuxt-link>
          </li>
        </ul>
    </nav>
  </div>
</template>
