<template>
  <div class="page-wrapper">
    <el-form :inline="true" :model="form" :rules="rules" ref="form" class="demo-form-inline">
      <el-form-item prop="search">
        <el-input v-model.number="form.search" :placeholder="$t('user_id')" name="search"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit" :disabled="!validForm">{{ $t("search") }}</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator'
interface formInput {
  search: string
}
@Component
export default class Users extends Vue {
  form: formInput = {
    search: ''
  };
  rules: object = {
    search: [
      { required: true, message: 'user id is required'},
      { type: 'number', message: 'user id must be a number'}
    ]
  };
  validForm: boolean = false;
  @Watch('form.search')
  onPropertyChanged(value: string, oldValue: string) {
    const refObject : any = this.$refs;
    refObject.form.validate((valid : boolean) => {
      this.validForm = valid;
    })
  }
  onSubmit(): void {
    if (this.validForm) {
      this.$router.push({ path: `/users/${this.form.search}/accounts` });
    }
  }
};
</script>
