<template>
  <div class="page-wrapper">
    <el-table
      :data="accounts"
      border
      v-loading="loading"
      style="width: 100%">
      <el-table-column
        :label="$t('id')"
        width="180">
        <template slot-scope="scope">
          {{ scope.row.attributes.id }}
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('name')"
        width="250">
        <template slot-scope="scope">
          {{ scope.row.attributes.name }}
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('balance')"
        width="200">
        <template slot-scope="scope">
          {{ scope.row.attributes.balance }}
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="Error"
      :visible.sync="dialogVisible"
      width="30%"
      center>
      <span>{{ error }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">Close</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator'
import storeAction from '@/config/store';

@Component
export default class UserAccounts extends Vue {
  public error: string = '';
  public accounts: Array<any> = [];
  public loading: boolean = true;
  public dialogVisible: boolean = false;

  created() : void{
    this.getUsers();
  }

  getUsers(): any {
    this.$nextTick(async() => {
        try {
          this.loading = true;
          this.dialogVisible = false;
          const response = await this.$store
          .dispatch(storeAction.userAccounts, {
            id: this.$route.params.slug,
            query: this.$route.query,
          })
          if (response) {
            this.accounts = response;
          }else{
            this.dialogVisible = true;
          }
          this.loading = false;
        } catch (error) {
          this.error = error;
          this.dialogVisible = true;
          this.loading = false;
        }
    });
  };
}
</script>
